{% extends 'main.html' %}

{% block content %}

    <textarea id="char-text" cols="60" row="460">
        
    </textarea><br/>


    <input id="input" type="text" size="80" /> <br/>

    <input id="submit" type="button" value="Send" />


    {{ room_name | json_script:'room-name'}}

    <script>

        document.querySelector('#submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#input')
            const message = messageInputDom.value
            chatSocket.send(JSON.stringify({
                'message':message
            }))
            messageInputDom.value = ''
        }
        
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://' +
            window.location.host +
            '/ws/chat/' +
            roomName +
            '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data)
            document.querySelector('#char-text').value += (data.message + '\n')

        }
    </script>

{% endblock %}